nav.navbar.navbar-expand-lg.bg-danger-subtle
    div.container-fluid
        a.navbar-brand(href="/") HOME
        button.navbar-toggler(data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent")
            span.navbar-toggler-icon
        div#navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown") 유저관리
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href="/users/list.do") 리스트
                        li
                            a.dropdown-item(href="/users/insert.do") 등록
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown") 게시글관리
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href="/boards/list.do") 리스트
                        //li
                        //    a.dropdown-item(href="/boards/list.do?status=PUBLIC") 공개
                        //li
                        //    a.dropdown-item(href="/boards/list.do?status=PRIVATE") 비공개
                        //li
                        //    a.dropdown-item(href="/boards/list.do?status=REPORT") 신고
                        //li
                        //    a.dropdown-item(href="/boards/list.do?status=BLOCK") 차단
                        li
                            a.dropdown-item(href="/boards/insert.do") 등록
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown") 댓글관리
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href="/replies/list.do?status=PUBLIC") 공개
                        li
                            a.dropdown-item(href="/replies/list.do?status=PRIVATE") 비공개
                        li
                            a.dropdown-item(href="/replies/list.do?status=REPORT") 신고
                        li
                            a.dropdown-item(href="/replies/list.do?status=BLOCK") 차단
                        li
                            a.dropdown-item(href="/replies/insert.do") 등록
                li.nav-item
                    a.nav-link(href="/hashCodes/list.do") 해시코드리스트
