doctype html
html
  head
    title "댓글과 좋아요 기능이 있는 게시판 관리자 페이지"
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
    script(src="/bootstrap/js/bootstrap.bundle.js")
  body
    header
      include headerNav
    main.container
      block content
