extends ../layout
block content
    h2.my-4 게시판 등록 양식
    script(src="/js/board/insert.js",defer=true)
    form#addBoardForm(method='post' action='/boards/insert.do')
        div.form-floating.mb-3
            input#u_id.form-control(name='u_id' type='text' placeholder="??")
            label(for='u_id') 아이디
            p#uidMsg
        div.form-floating.mb-3
            input#title.form-control(name='title', type='text' placeholder="??")
            label(for='title') 제목
        div.form-floating.mb-3
            input#content.form-control(name='content', type='text' placeholder="??")
            label(for='content') 내용
        //div.form-floating.mb-3
        //    input#imgPath.form-control(name='img_path', type='text' placeholder="??")
        //    label(for='imgPath') 이미지경로
        div.form-floating.mb-3
            select#status.form-control(name='status' placeholder="??")
                option(value='PUBLIC', selected=true) 공개
                option(value='PRIVATE') 비공개
                option(value='REPORT') 신고
                option(value='BLOCK') 차단
            label(for='status') 상태
        div.text-end.mb-5
            button#resetBoardBtn.btn.btn-outline-warning.me-3(type='reset') 초기화
            button#addBoardBtn.btn.btn-outline-primary(type='submit') 추가
