extends ../layout
block content
    h2.my-4 유저 등록 양식
    form#addUserForm(method='post' action='/users/insert.do')
        div.form-floating.mb-3
            input#u_id.form-control(name='u_id', type='text')
            label(for='u_id') 아이디
        div.form-floating.mb-3
            input#pw.form-control(name='pw', type='password' placeholder="??")
            label(for='pw') 비밀번호
        div.form-floating.mb-3
            input#name.form-control(name='name', type='text' placeholder="??")
            label(for='name') 이름
        div.form-floating.mb-3
            input#imgPath.form-control(name='img_path', type='text' placeholder="??")
            label(for='imgPath') 이미지경로
        div.form-floating.mb-3
            input#phone.form-control(name='phone', type='text' placeholder="??")
            label(for='phone') 전화번호
        div.form-floating.mb-3
            input#email.form-control(name='email', type='email' placeholder="??")
            label(for='email') 이메일
        div.form-floating.mb-3
            input#birth.form-control(name='birth', type='date' placeholder="??")
            label(for='birth') 생년월일
        div.form-floating.mb-3
            select#gender.form-control(name='gender')
                option(value='FEMALE') 여성
                option(value='MALE') 남성
                option(value='NONE') 미정
            label(for='gender') 성별
        div.form-floating.mb-3
            input#address.form-control(name='address', type='text' placeholder="??")
            label(for='address') 주소
        div.form-floating.mb-3
            input#detail_address.form-control(name='detail_address', type='text' placeholder="??")
            label(for='detail_address') 상세주소
        div.form-floating.mb-3
            select#permission.form-control(name='permission' placeholder="??")
                option(value='ADMIN') 관리자
                option(value='USER',selected=true) 일반 사용자
                option(value='SILVER') 실버 회원
                option(value='GOLD') 골드 회원
                option(value='PRIVATE') 비공개 회원
            label(for='permission') 권한
        div.text-end.mb-5
            button#resetUserBtn.btn.btn-outline-warning.me-3(type='reset') 초기화
            button#addUserBtn.btn.btn-outline-primary(type='submit') 추가
