extends ../layout
block content
    h2.my-4 관리자(ADMIN) 로그인 양식
    p 로그인 : id 와 pw 가 동일한 유저가 있다면 서버에 user 정보를 저장해서 유지 시킴으로서(session) 접속하고 있는 것 처럼 서비스를 제공하는 것
    p http 통신은 연결이 없는 통신(<->소켓,전화)으로 접속을 유지한다는 것이 불가능하기 때문에 서버에 user 정보를 저장해서 마치 접속하고 있는 것 처럼 만든다.
    form#addUserForm(method='post' action='/users/login.do')
        div.form-floating.mb-3
            input#u_id.form-control(name='u_id', type='text', value="amdin", placeholder="??")
            label(for='u_id') 아이디
        div.form-floating.mb-3
            input#pw.form-control(name='pw', type='password', value="admin123", placeholder="??")
            label(for='pw') 비밀번호
        div.text-end.mb-5
            button#resetUserBtn.btn.btn-outline-warning.me-3(type='reset') 초기화
            button#addUserBtn.btn.btn-outline-primary(type='submit') 로그인

    h2 쿠키
    ul
        li 쿠키란? 서버가 클라언트(브라우저) 로컬 저장하는 정보(파일)
        li 클라이언트가 특정 서버에 서비스를 요청하면 그 서비스를 위해 클라언트에 쿠키를 남길 수 있다.
        li (사용자인증,세션관리,방문기록[광고 하루 보지않기],장바구니,로그인유지 ...)
        li http 통신에서 연결성 있는 서비스를 위해, 서버의 메모리를 아끼기 위해
        li 서버보다 클라이언트가 보안에 취약한데 해킹으로 인해 클라이언트에 저장된 개인정보 쿠키가 노출될 수 있다.
        li 쿠키는 만료시간을 지정할 수 있어서 만료시간이 다된 쿠키는 브라우저에 의해 파기된다.
        li 쿠키는 쿠키를 저장한 서버 주소를 가지고 있어서 브라우저가 동일한 서버에 요청할 때 마다 쿠키를 모두 전달한다.
    h2 세션
    ul
        li 쿠키와 달리 서버에 저장하는 정보 (객체)
        li 비연결 통신인 http 를 연결성 있는 서비스를 제공하기 위해 사용됨.
        li 로그인,redirect 하는 페이지에 정보를 전달할 때 사용
        li 세션을 저장하기 전에 어떤 클라이언트의 세션인지 확인하기 위해서 해당 클라언트의 고유값을 갖는 쿠키를 만들어 저장
        li 해당 쿠키의 만료 시간이 30분이고 만약 30분안에 재속하지 않으면 쿠키가 만료되면서 서버가 세션을 삭제한다. (로그아웃)
        li 만약 30분 안에 재접속을 하면 쿠키의 만료시간을 30분으로 초기화 시켜서 세션을 유지시킨다.
        li **session 객체 자체에 만료시간(setTimeout)을 지정할 수 있지만 서버가 부담을 가질 수 있기 때문에 보통 쿠키의 만료시간을 이용한다.
        li 서버가 재시작하면 서버에 저장된 세션 객체가 삭제됨.(memorystore 모듈을 사용하면 서버컴퓨터 메모리에 따로 저장함 )